:root {
	--color-background: var(--ctp-macchiato-base);
	--color-text: var(--ctp-macchiato-text);

	--color-primary: var(--ctp-macchiato-mauve);
	--color-secondary: var(--ctp-macchiato-green);

	--color-actionable: var(--ctp-macchiato-green);
	--color-destructive: var(--ctp-macchiato-red);

	--font-header: "JetBrains Mono Variable", monospace;
	--font-text: "Inter Variable", sans-serif;

	--transition-snappy: cubic-bezier(0, 0.65, 0, 1);
}

html {
	background: var(--color-background);
	color: var(--color-text);
	font-family: var(--font-text);
	scrollbar-gutter: stable;
}

html:has(dialog[open]) {
	overflow: hidden;
}

body {
	margin: 0;
	overflow-x: hidden;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

h1, h2, h3 {
	margin: 0;
	font-family: var(--font-header);
	font-weight: 800;
}

h1 {
	font-size: 4cqmax;
	color: var(--color-primary);
}

h2, h3 {
	color: var(--color-secondary)
}

h2 {
	font-size: 2.5cqmax;
}

h1 + p, h2 + p {
	margin-top: 0.25rem;
}

h3 {
	font-size: 1.75cqmax;
}

p {
	font-size: 1cqmax;
	line-height: 150%;
}

a {
	display: inline-block;
	border-radius: 1rem;
	color: var(--color-primary);
	text-decoration-thickness: 0.1rem;
	transition-property: color, scale, background;
	transition-duration: 1s;
	transition-timing-function: var(--transition-snappy);
}

a:hover, a:focus {
	scale: 105%;
	color: var(--color-secondary);
	text-shadow: 0 0 1rem var(--color-secondary);
}

p, a {
	font-weight: 200;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background: var(--color-primary)
}

::selection {
	background: var(--color-primary);
	color: var(--color-background);
}

@media (width <= 1390px) {
	h1 {
		font-size: 6cqmin;
	}

	h2 {
		font-size: 4cqmin;
	}

	h3 {
		font-size: 3cqmin;
	}

	p {
		font-size: 2cqmin;
	}
}

@media (width <= 800px) {
	h1 {
		font-size: 12cqmin;
		line-height: 100%;
		padding-bottom: 3cqmin;
	}

	h2 {
		font-size: 7cqmin;
	}

	h3 {
		font-size: 4.5cqmin;
	}

	p {
		font-size: 4cqmin;
	}
}
