@import url("@catppuccin/palette/style");

:root {
    --color-background-raw: var(--ctp-macchiato-base-raw);
    --color-text-raw: var(--ctp-macchiato-text-raw);

    --color-background: rgb(var(--color-background-raw));
    --color-text: rgb(var(--color-text-raw))
}

html {
    background: var(--color-background)
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh
}

main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh
}
